body {
	background: #f4f4f4;
}
.layout {
	padding: 50px;
	font-family: Georgia, serif; }

.navbar-text {
	font-size: 18px;
	text-align: center;
}
.navbar {
	margin-bottom: 0px;
}

.btn-toolbar.spaced-bar {
	height: 60px;
}
.btn-group {
	display: inline-block;
}
.btn-group.text {
	margin-top: 5px;
	font-size: 16px;
	width: 110px;
}
