<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!--android launcher icon-->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/static/icons/launcher-android-smooth-192.png">

	<!--iOS launcher icon-->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="apple-touch-icon-precomposed" href="/static/icons/launcher-iphone-152.png">
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/icons/launcher-iphone-smooth-152.png">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/static/icons/launcher-iphone-smooth-57.png">

	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/flick/jquery-ui.css" rel="stylesheet" type="text/css"/>

	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<script src="/static/js/1.11.4/jquery-ui.js"></script>
	<script src="/static/js/jquery.ui.touch-punch.min.js"></script>

	<!-- jquery slider pips-->
	<link href="/static/css/jquery-ui-slider-pips.css" rel="stylesheet" type="text/css">
	<script src="/static/js/jquery-ui-slider-pips.min.js"></script>

	<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/css/custom.css" rel="stylesheet" type="text/css">

	<!-- Set javascript root directory -->
	<script>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
</head>

<body class = "body">

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
			<p class="navbar-text">ASCVD Risk Estimator</p>
		</div>
	</nav>
	{% if viewer == 'clinician' %}
	<div class="btn-group no-space btn-group-justified" role="group" aria-label="...">
		<a href="#" class="btn btn-default active">Clinician Version</a>
		<a href="/patient" class="btn btn-default"> Patient Version </a>
	</div>
	{% elif viewer == 'patient' %}
	<div class="btn-group no-space btn-group-justified" role="group" aria-label="...">
		<a href="/" class="btn btn-default">Clinician Version</a>
		<a href="#" class="btn btn-default active"> Patient Version </a>
	</div>
	{% endif %}

<div class = "container body-container">
	<body>

		<div class="row">
			<div class="col-xs-7 col-height no-padding prompt-container">
				<span class="prompt-text">Age</span>
			</div>
			<div class="col-xs-5 col-height no-padding">
				<div class="slider pull-right vertical-center" id="1"></div>
				<script>
					var sliderValueAge = 20;
					$(function() {
						$(".slider#1").slider({
							value: 20,
							min: 20,
							max: 100,
							slide: updateSliderValue
						});
						function updateSliderValue(event, ui) {
							return sliderValueAge = ui.value;
						}
					});
				</script>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-7 col-height no-padding prompt-container">
				<span class="prompt-text">Ethnicity</span>
			</div>
			<div class="col-xs-5 col-height no-padding">
				<button class="btn btn-default dropdown-toggle pull-right vertical-center" type="button" 
				id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#">Select <span class="caret"></span>
				 </button>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#">African American</a></li>
						<li><a href="#">Caucasian</a></li>
						<li><a href="#">Other</a></li>
					</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-5 col-height no-padding prompt-container">
				<span class="prompt-text">Biological Sex</span>
			</div>
			<div class="col-xs-7 col-height no-padding">
				<div class="btn-group pull-right vertical-center">
			 		<button type="button" class="btn btn-default btn-left" id="sex" name="sex">Male</button>
					<button type="button" class="btn btn-default btn-right" id="sex" name="sex">Female</button>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-7 col-height no-padding prompt-container">
				<span class="prompt-text">Total Cholesterol</span>
			</div>
			<div class="col-xs-5 col-height no-padding">
				<div class="slider pull-right vertical-center" id="2"></div>
				<script>
					var sliderValueTC = 130;
					$(function() {
						$(".slider#2").slider({
							value: 130,
							min: 130,
							max: 320,
							slide: updateSliderValue
						});
						function updateSliderValue(event, ui) {
							return sliderValueTC = ui.value;
						}
					});
				</script>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-7 col-height no-padding prompt-container">
				<span class="prompt-text">HDL Cholesterol</span>
			</div>
			<div class="col-xs-5 col-height no-padding">
				<div class="slider pull-right vertical-center" id="3"></div>
				<script>
					var sliderValueHDL = 20;
					$(function() {
						$(".slider#3").slider({
							value: 20,
							min: 20,
							max: 100,
							slide: updateSliderValue
						});
						function updateSliderValue(event, ui) {
							return sliderValueHDL = ui.value;
						}
					});
				</script>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-7 col-height no-padding prompt-container">
				<span class="prompt-text">Systolic Blood Pressure</span>
			</div>
			<div class="col-xs-5 col-height no-padding">
				<div class="slider pull-right vertical-center" id="4"></div>
				<script>
					var sliderValueBP = 130;
					$(function() {
						$(".slider#4").slider({
							value: 90,
							min: 90,
							max: 200,
							slide: updateSliderValue
						});
						function updateSliderValue(event, ui) {
							return sliderValueBP = ui.value;
						}
					});
				</script>
			</div>
		</div>

		<div class="row">
		<div class="col-xs-7 col-height no-padding prompt-container">
				<span class="prompt-text">Treatment For Hypertension?</span>
		</div>
			<div class="col-xs-5 col-height no-padding">
				<span class="btn-group pull-right vertical-center">
					<button type="button" class="btn btn-default btn-left" id="bp-rx" name="bp-rx">Yes</button>
					<button type="button" class="btn btn-default btn-right" id="bp-rx" name="bp-rx">No</button>
		 		</span>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-7 col-height no-padding prompt-container">
				<span class="prompt-text">Smoker?</span>
			</div>
			<div class="col-xs-5 col-height no-padding">
				<span class="btn-group pull-right vertical-center">
					<button type="button" class="btn btn-default btn-left" id="smoke" name="smoke">Yes</button>
					<button type="button" class="btn btn-default btn-right" id="smoke" name="smoker">No</button>
		 	 </span>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-7 col-height no-padding prompt-container">
				<span class="prompt-text">Diabetes?</span>
			</div>
			<div class="col-xs-5 col-height no-padding">
				<span class="btn-group pull-right vertical-center">
					<button type="button" class="btn btn-default btn-left" id="diabetes" name="diabetes">Yes</button>
					<button type="button" class="btn btn-default btn-right" id="diabetes" name="diabetes">No</button>
		 	 </span>
			</div>
		</div>

		<script>
		//Add floating labels to sliders
		$(".slider").slider().slider("float");

		//Allow slider dragging on mobile devices
		$('#widget').draggable();
		</script>

		<script>
		//Responsive button press
		$('.btn-left').click(function() {
			$(this).attr('class', 'btn btn-default btn-left active');
			right_button = '.btn-right#'.concat(this.id);
			$(right_button).attr('class', 'btn btn-default btn-right');
			});
		$('.btn-right').click(function() {
			$(this).attr('class', 'btn btn-default btn-right active');
			left_button = '.btn-left#'.concat(this.id);
			$(left_button).attr('class', 'btn btn-default btn-left');
		});
		</script>

		<br>
		<!-- Ajax output -->
		<div id="input_result">Press submit to see slider inputs.</div>
		<!-- Submit button -->
		<button type="button" class="btn btn-default btn-group-justified" id="submit-button" name="submit-button">Submit</button>
		<script>
		$(function() {
			$("#submit-button").click(function() {
				inputValues = [sliderValueAge, sliderValueTC, sliderValueHDL, sliderValueBP];
				$.ajax({
					type: "POST",
					url: $SCRIPT_ROOT + "/echo/",
					contentType: "application/json; charset=utf-8",
					data: JSON.stringify({ userInputs:inputValues }),
					success: function updateData(data) { 
						$('#input_result').text(data.value.toString());
					}
				});
			});
			});
		</script>
		<div>
		<br>
		<p class ="bottom-page-description">{{ description }} <a href="/about">About this app.</a></p>
		</div>

	</body>
</div>
<script type = "text/javascript" src = "/static/js/bootstrap.min.js"></script>

</html>